# Ignore node_modules and logs
node_modules
npm-debug.log
yarn-error.log

# Ignore Python cache and virtual environments
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
env
venv
ENV
env.bak
venv.bak

# Ignore Docker files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Ignore editor directories and files
.vscode
.idea
*.sublime-workspace
*.sublime-project 